.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #4e7699;
  height: 100vh;  
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}

.header-image {
  width: auto;
  height: 15vh;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
  width: 120vh;
}

.card {
  width: 27vh;
  height: 36vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2vh;
  border: 1vh solid white;
  background-color: #f5eedc;
  box-shadow: 0px 1vh 1vh rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
}

.flip-card {
  position: relative;
  width: 27vh;
  height: 36vh;
  perspective: 1000px;
  transition: transform 0.35s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

.button {
  height: 40px;
}

.instructions-text {
  font-size: 204vh;
}

.answers {
  text-align: left;
  width: 90%;
}
